<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-securitylayout:decorate=" default>

<head>
  <title>Dashboard</title>
  <div th:replace="fragments/header :: header-css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="/css/style.css" />

</head>

<main role="main">
  <div class="dash">
    <div th:replace="fragments/header :: header" />
    <div layout:fragment="content">
      <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
      <h2>This is your Dashboard</h2>
    </div>
  </div>
  <div class="container">
    <div class="card-deck">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Booking 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Chicago</h6>
          <li class="list-group-item">Sign in date: 5/17/2021</li>
          <li class="list-group-item">Sign out date: 5/25/2021</li>
        </div>
        <a href="#" class="btn btn-primary">View/edit booking</a>
      </div>
    </div>
  </div>


</main>

</html>