<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
  <title>Signup</title>

  <div th:replace="fragments/header :: header-css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
  <div layout:fragment="content">
    <form class="form-signin" th:action="@{/signup}" method="post">
      <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-bag-fill"
        viewBox="0 0 16 16">
        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
      </svg>
      <h1 class="h3 mb-3 font-weight-normal">Sign Up Here</h1>
      <div th:if="${param.error}">
        Invalid email and password.
      </div>
      <div th:if="${param.logout}">
        You have been logged out.
      </div>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Username" required="" />
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
        required="" />
      <label for="inputFullname" class="sr-only">Full Name</label>
      <input type="text" name="fullname" id="inputEmail" class="form-control" placeholder="Fullname" required="" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
    <form class="form-signin" th:action="@{/login}" method="get">
      <button class="btn btn-md btn-success btn-block" type="Submit">Sign In</button>
    </form>
  </div>
</body>

</html>